.features .F-img{
    width: 180px;
    height: 180px;

}


@media (max-width: 767px)and (min-width: 480px) {
    div.features .F-img{
      background-color: lightblue;
      width:100px;
      height: 100px;

    }
    div.features .card-title{
        max-width: 80px;

    }
    div.features{
        width: fit-content;
        padding: 1px;
    } 
    
    div.pro{
        width: 100%;
    }
    div.pro img{
        width: 100%;
    }
    .product-name{
      word-wrap: break-word;
      white-space: normal;
    }
   
}


/* Product.css */
div.product-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #888;
  }
  
  div.pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  div.pro {
    flex: 1;
    max-width: calc(33.33% - 20px); /* Adjust for 3 items per row */
    text-align: center;
  }
  
  div.section-p1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #product1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  /* Add any additional styles as needed */

  
  